h1 {
    font-family: 'Lucida Console';
    font-size: 50px;
    color: rgba(136, 114, 72, 0.801);
  }
  .paragraphs_and_lists {
    font-weight: 510;
  } 
  #yellow_item {background-color: yellow}
  #red_item {background-color: red}
  #brown_item {background-color: rgb(116, 95, 81)}
  
  body {
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgb(183, 202, 214);
  }